<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Services.production.SGGetVoltTickerService</key>
	<string>http://12.178.153.18:17701/smartgrid/services/GetVoltTickerData</string>
	<key>Services.production.SGConsumptionService</key>
	<string>http://12.178.153.18:17701/smartgrid/services/CostConsumptionService/operation/CONSUMPTION</string>
	<key>Services.production.SGCostService</key>
	<string>http://12.178.153.18:17701/smartgrid/smartgrid/services/CostConsumptionService/operation/COST</string>
	<key>Services.production.SGAuthenticate</key>
	<string>http://12.178.153.18:17701/smartgrid/services/SmartGridAuthService/operation/smartGridAuthLogin/presentation_type/IOS/presentation_serial_id/</string>
	<key>Services.production.SGAuthenticate.2</key>
	<string>https://www.onstar.com/web/portal/mobile/oAuthLogin?state=12345&amp;clientId=9289b82a091d3f36d3c106954&amp;scope=LEVEL2&amp;redirect_uri=http://12.188.200.151:7105/testproject/error/presentation_type/IOS/presentation_serial_id/</string>
	<key>Services.mock.SGGetVoltTickerService</key>
	<string>http://localhost/SmartGridServices/GetVoltTickerDataSuccess</string>
	<key>Services.mock.SGConsumptionService</key>
	<string>http://localhost/SmartGridServices/ConsumptionDataSuccess</string>
	<key>Services.mock.SGCostService</key>
	<string>http://localhost/SmartGridServices/CostDataSuccess</string>
</dict>
</plist>
